@import url("https://fonts.googleapis.com/css2?family=Anton&family=Tenor+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;400&display=swap');
ż

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: lighter;
  min-width: 400px;
  min-height: 400px;
  width: 100%;
}


.hiro-content {
  font-family: "Lato", sans-serif;
}

.footer{
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.nav-text{
  font-family: 'Fahkwang', sans-serif;
}
.secondary-title{
  font-family: 'Fahkwang', sans-serif;
}
.title{
  font-family: 'Fahkwang', sans-serif;
}

.gold-icon{
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}